#pilares{
    height:1000px;
    background-color: whitesmoke ;
}

.textopilares{
    padding-top: 5%;
    text-align: center;
    font-size:x-large;
}

.pilarh1{
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
}